{% extends "base.html.twig" %}
{% block title %} Actualitées {% endblock title%}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("build/app.css") }}">
    <link rel="stylesheet" href="{{ asset("build/myStyle.css") }}">
{% endblock stylesheets %}
{% block body %}
        <!-- ***** Breadcumb Area Start ***** -->
        <section class="breadcumb-area bg-img gradient-background-overlay" style="background-image: url(img/bg-img/breadcumb2.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="breadcumb-content">
                            <h3 class="breadcumb-title">Actualité</h3>
                            <p>Lorem ipsum dolor sit amet, consectetuer</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ***** Breadcumb Area End ***** -->

        <!-- ***** Blog Area Start ***** -->
        <section class="medilife-blog-area section-padding-100">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-8">

                        {% if not search %}
                            <div style="display: flex;flex-wrap: wrap">
                                {% for topic in topics  %}
                                    {% include "components/_mediumActualite.twig" %}
                                {% endfor %}
                            </div>


                            <div class="pagination d-flex justify-content-center" style="margin-top: 30px">
                                {{ knp_pagination_render(topics) }}
                            </div>
                        {% else %}
                            <div class="container flex-lg-row align-item-center">
                                {% for topic in topics  %}
                                    {% include "components/_bigActualite.html.twig" %}
                                {% endfor %}
                            </div>
                        {% endif %}

                    </div>

                    <div class="col-12 col-lg-4">
                        <div class="medilife-blog-sidebar-area">

                            <!-- Search Widget -->
                            <div class="search-widget-area mb-50">
                                {{ form_start(form) }}
                                {{ form_row(form.keyWords) }}
                                <input type="submit" value="Search">
                                {{ form_end(form) }}
                            </div>

                            <!-- Catagories Widget -->
                            <div class="medilife-catagories-card mb-50">
                                <h5>Categories</h5>
                                <ul class="catagories-menu">
                                    <li><a href="#">Radiology</a></li>
                                    <li><a href="#">Cardiology</a></li>
                                    <li><a href="#">Gastroenterology</a></li>
                                    <li><a href="#">Neurology</a></li>
                                    <li><a href="#">General surgery</a></li>
                                </ul>
                            </div>

                            <!-- Latest News -->
                            <div class="latest-news-widget-area mb-50">
                                <h5>Latest News</h5>
                                <div class="widget-blog-post">
                                    <!-- Single Blog Post -->
                                    <div class="widget-single-blog-post d-flex align-items-center">
                                        <div class="widget-post-thumbnail pr-3">
                                            <img src="img/blog-img/ln1.jpg" alt="">
                                        </div>
                                        <div class="widget-post-content">
                                            <a href="#">A big discovery for medicine</a>
                                            <p>Dec 02, 2017</p>
                                        </div>
                                    </div>
                                    <!-- Single Blog Post -->
                                    <div class="widget-single-blog-post d-flex align-items-center">
                                        <div class="widget-post-thumbnail pr-3">
                                            <img src="img/blog-img/ln2.jpg" alt="">
                                        </div>
                                        <div class="widget-post-content">
                                            <a href="#">Dentistry for everybody</a>
                                            <p>Dec 02, 2017</p>
                                        </div>
                                    </div>
                                    <!-- Single Blog Post -->
                                    <div class="widget-single-blog-post d-flex align-items-center">
                                        <div class="widget-post-thumbnail pr-3">
                                            <img src="img/blog-img/ln3.jpg" alt="">
                                        </div>
                                        <div class="widget-post-content">
                                            <a href="#">When it’s time to take pills</a>
                                            <p>Dec 02, 2017</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- medilife Emergency Card -->
                            <div class="medilife-emergency-card bg-img bg-overlay" style="background-image: url({{ asset('img/bg-img/about1.jpg') }});">
                                <i class="icon-smartphone"></i>
                                <h2>For Emergency calls</h2>
                                <h3>+12-823-611-8721</h3>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- jQuery (Necessary for All JavaScript Plugins) -->
        <script src="js/jquery-2.2.4.min.js"></script>
        <!-- Popper js -->
        <script src="js/popper.min.js"></script>
        <!-- Bootstrap js -->
        <script src="js/bootstrap.min.js"></script>
        <!-- Plugins js -->
        <script src="js/plugins.js"></script>
        <!-- Active js -->
        <script src="js/active.js"></script>
{% endblock body%}
{% block javascripts %}{% endblock javascripts %}