{% extends "base.html.twig" %}
{% block title %} Actualitées {% endblock title%}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
{% endblock stylesheets %}
{% block body %}
    {#<div class="container">#}

        {#<h1>Actualitées</h1>#}
        {#<h2>  </h2>#}
        {#<div class="container">#}
            {#<ul>#}
                {#<li>créé par : {{ topic.topicOwner }}</li>#}
                {#<li>Référence : {{ topic.reference }}</li>#}
                {#<li>créé le : {{ topic.createdAt.format("d-m-Y à HH:MM:SS       ") }}</li>#}
            {#</ul>#}
            {#<p>{{ topic.topicText }}</p>#}
        {#</div>#}
    {#</div>#}

    <!-- ***** Breadcumb Area Start ***** -->
    <section class="breadcumb-area bg-img gradient-background-overlay" style="background-image: url({{ asset('img/bg-img/breadcumb2.jpg') }});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content">
                        <h3 class="breadcumb-title">{{ topic.topicTitle }}</h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Blog Area Start ***** -->
    <section class="medilife-blog-area section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="description">
                        <p  style="padding: 20px;">
                            {{ topic.topicText }}
                        </p>

                    </div>
                    <div class="comments-area" style="position: relative;padding-top: 30px">
                        <h5>Comments</h5>
                        {{ form_start(form,{"attr":{"id":"topicComment"}}) }}
                        {{ form_widget(form.comment) }}
                            <button class="btn btn-primary" type="submit" style="margin-bottom: 10px"> commenter</button>
                        {{ form_end(form) }}
                        <ol>
                            {% for comment in comments %}
                                {% include "components/comment.html.twig" %}
                            {% endfor %}
                        </ol>
                    </div>

                </div>

                <div class="col-12 col-lg-4">
                    <div class="medilife-blog-sidebar-area">

                        <!-- Search Widget -->
                        <div class="search-widget-area mb-50">
                            <h5>Latest Videos</h5>
                            {% for video in smVideos %}
                                {% include "components/_smallVideo.html.twig" %}
                            {% endfor %}
                        </div>



                        <!-- Latest News -->
                        <div class="latest-news-widget-area mb-50">
                            <h5>Latest News</h5>
                            <div class="widget-blog-post">
                               {% for topic in topics %}
                                   {% include "components/_smallTopic.html.twig" %}
                               {% endfor %}
                            </div>
                        </div>

                        <!-- medilife Emergency Card -->
                        <div class="medilife-emergency-card bg-img bg-overlay" style="background-image: url({{ asset('img/bg-img/about1.jpg') }});">
                            <i class="icon-smartphone"></i>
                            <h2>For Emergency calls</h2>
                            <h3>+12-823-611-8721</h3>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="../js/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="../js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="../js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="../js/plugins.js"></script>
    <!-- Active js -->
    <script src="../js/active.js"></script>
{% endblock body%}
{% block javascripts %}
    <script>
        $("#topicComment").submit(function (e) {
            console.log("coucou je suis le handler");
            e.preventDefault();
            let data  = {};
            data[$("#topic_comment__token").attr("name")] = $("#topic_comment__token").val();
            data[$("#topic_comment_comment").attr("name")] = $("#topic_comment_comment").val();
            $.ajax({
                method : "POST",
                data : data,
                url : $("#topicComment").attr("action")
            }).done(function (data,message) {
                let date = new Date(data.created_at.date);
                let mois  = date.toLocaleDateString('fr-fr',{month:'short'});
                mois  = mois.substr(0,mois.length-1);
                let day = date.getDay();
                let year = date.getFullYear()
                $(".comments-area > ol").prepend('<li class="single_comment_area" >'+
                    '<div class="comment-wrapper d-flex">'+
                    '<div class="comment-content">'+
                    '<div class="comment-meta">'+
                    '<a href="#" class="comment-author-name">'+ data.userLN+' '+ data.userFN+'</a> | '+
                    '<a href="#" class="comment-date">'+mois+' '+day+', '+year+'</a>'+
                    '</div>'+
                    '<p>'+data.comment+'</p>'+
                    '</div>'+
                    '</div>'+
                    '</li>');
            })
        })
    </script>
{% endblock javascripts %}