{% extends "base.html.twig" %}

{% block title%} Connexion {% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey | trans(error.messagedata, "security") }}
        </div>
    {% endif %}
        <div class="container">
            <h1>Connexion</h1>
            <form action=" {{ path("login") }} " method="post">
                <div class="from_group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="_username" class="form-control" value="{{ last_user }}">
                </div>
                <div class="from_group">
                    <label for="password">Mot de passe</label>
                    <input type="password" id="password" name="_password" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Connexion</button>
            </form>
        </div>
{% endblock %}

{% block javascripts %}{% endblock %}