{% extends "base.html.twig" %}
{% block title%} Inscription{% endblock %}

{% block stylesheets %}
    {# ici ajouter les link vers les feuilles de styles #}
{% endblock stylesheets%}
{% block body%}
    <div class="container  mt-4"><h1>Inscription</h1>
        <div class="container">
            {{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
            <div class="row ">
                <div class="col-md-4">{{ form_row(form.first_name) }}</div>
                <div class="col-md-4">{{ form_row(form.last_name) }}</div>
                <div class="div-md-4">{{ form_row(form.country) }}</div>
            </div>
            <div class="row">
                <div class="col-md-4">{{ form_row(form.phone_number) }}</div>
                <div class="col-md-4">{{ form_row(form.email) }}</div>
                <div class="col-md-4">{{ form_row(form.postal_code) }}</div>
            </div>
            <div class="row">
                <div class="col-md-4">{{ form_row(form.speciality) }}</div>
                <div class="col-md-4">{{ form_row(form.no_order) }}</div>
            </div>
            <button type="submit" name="" id="" class="btn btn-primary btn-lg btn-block" >enregistrer</button>
            {{ form_end(form) }}
        </div>
    </div>


{% endblock body%}