@keyframes anime {
    0%{transform : rotate(20deg)}
    25%{transform : rotate(-20deg)}
    50%{transform : rotate(20deg)}
    75%{transform : rotate(-20deg)}
    100%{transform : rotate(0deg)}
}
.plus{
    position: relative;
    top: 10px;
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 3em;
    border-radius: 50px;
    background-color: #006CFF;
    text-align: center;
    line-height: 1;
    transition: 0.5s background-color;

}

.plus:hover{
    background-color: #081F3E;
    animate : anime .5s ;
    -webkit-animation: anime .5s ; /* Safari 4+ */
    -moz-animation:    anime .5s ; /* Fx 5+ */
    -o-animation:      anime .5s ; /* Opera 12+ */
    animation:         anime .5s ; /* IE 10+, Fx 29+ */
}