<div class="card" style="width: 80%">
    <img class="card-img-top" src="{{ video.photo1}}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{ video.name }}</h5>
        <p class="card-text ">{{ video.description|slice(1,300) ~ "..." }}</p>
    </div>

    <div class="card-body">
        <a href="{{ path("videoDetail",{slug:video.slug,id:video.id}) }}" class="card-link">Voir</a>
    </div>
    <footer class="blockquote-footer">
        <small class="text-muted">
            Créé le  <cite title="Source Title">{{ video.createdAt.format('d-m-Y à H:i:s') }}</cite>
        </small>
    </footer>

</div>