<div class="card mt-4" style="width: 80%">
    <div class="card-body">
        <h5 class="card-title">{{ topic.topicTitle }}</h5>
        <p class="card-text ">{{ topic.topicText|slice(1,300) ~ "..." }}</p>
    </div>

    <div class="card-body">
        <a href="{{ path("actualiteDetail",{slug:topic.slug,id:topic.id}) }}" class="card-link">Voir</a>
    </div>
    <footer class="blockquote-footer">
        <small class="text-muted">
            Créé par {{ topic.topicOwner }} le <cite title="Source Title">{{ topic.createdAt.format('d-m-Y à H:i:s') }}</cite>
        </small>
    </footer>

</div>