{#<div class="card" style="width: 18rem;">#}
    {#<img class="card-img-top" src="" alt="Card image cap">#}
    {#<div class="card-body">#}
        {#<h5 class="card-title">{{ video.name }}</h5>#}
        {#<p class="card-text ">{{ video.description|slice(1,random([100,50,75,25])) ~ "..." }}</p>#}
    {#</div>#}

    {#<div class="card-body">#}
        {#<a href="{{ path("videoDetail",{slug:video.slug,id:video.id}) }}" class="card-link">Voir</a>#}
    {#</div>#}
    {#<footer class="blockquote-footer">#}
        {#<small class="text-muted">#}
            {#Créé le  <cite title="Source Title">{{ video.createdAt.format('d-m-Y à H:i:s') }}</cite>#}
        {#</small>#}
    {#</footer>#}

{#</div>#}

<div class="single-blog-area col-sm-5 shadow" style="margin: 10px" >
    <!-- Post Thumbnail -->
    <div class="blog-post-thumbnail ">
        <img src="{{ video.photo1}}" alt="">
        <!-- Post Date -->
        <div class="post-date">
            <a href="#">{{ video.createdAt.format('M d, Y') }}</a>
        </div>
    </div>
    <!-- Post Content -->
    <div class="post-content">
        <div class="post-author">
            <a href="{{ path("videoDetail",{slug:video.slug,id:video.id}) }}"> <span class="plus">+</span></a>
        </div>
        <a href="#" class="headline mb-0">{{ video.name }} </a>
        <div class="post-meta">
            <a href="{{ path("videoDetail",{slug:video.slug,id:video.id}) }}"class="post-author-name">by Dr. Cristinne Smith</a> | <a href="#" class="post-catagory">Dental</a>
        </div>
        <p>{{ video.description|slice(1,random([100,50,75,25])) ~ "..." }}</p>
    </div>

</div>