{#<div class="card" style="width: 18rem;">#}
    {#<div class="card-body">#}
        {#<h5 class="card-title">{{ topic.topicTitle }}</h5>#}
        {#<p class="card-text ">{{ topic.topicText|slice(1,random([200,100,150,50])) ~ "..." }}</p>#}
    {#</div>#}

    {#<div class="card-body">#}
        {#<a href="{{ path("actualiteDetail",{slug:topic.slug,id:topic.id}) }}" class="card-link">Voir</a>#}
    {#</div>#}
    {#<footer class="blockquote-footer">#}
        {#<small class="text-muted">#}
            {#Créé par {{ topic.topicOwner }} le <cite title="Source Title">{{ topic.createdAt.format('d-m-Y à H:i:s') }}</cite>#}
        {#</small>#}
    {#</footer>#}

{#</div>#}

<div class="single-blog-area col-sm-5 shadow" style="margin: 10px" >
    <!-- Post Thumbnail -->
    <div class="blog-post-thumbnail ">
        {#<img src="{{ video.photo1}}" alt="">#}
        <!-- Post Date -->
        <div class="post-date">
            <a href="#">{{ topic.createdAt.format('M d, Y') }}</a>
        </div>
    </div>
    <!-- Post Content -->
    <div class="post-content">
        <div class="post-author">
            <a href="{{ path("actualiteDetail",{slug:topic.slug,id:topic.id}) }}"> <span class="plus">+</span></a>
        </div>
        <a href="#" class="headline mb-0">{{ topic.topicTitle }}</a>
        <div class="post-meta">
            <a href="{{ path("actualiteDetail",{slug:topic.slug,id:topic.id}) }}"class="post-author-name">par Dr. {{ topic.topicOwner }}</a> | <a href="#" class="post-catagory">Dental</a>
        </div>
        <p>{{ path("actualiteDetail",{slug:topic.slug,id:topic.id}) }}</p>
    </div>

</div>