<div class="widget-single-blog-post d-flex align-items-center">
    <div class="widget-post-thumbnail pr-3">
        {#<img src="img/blog-img/ln1.jpg" alt="">#}
    </div>
    <div class="widget-post-content">
        <a href="{{ path("actualiteDetail",{slug:topic.slug,id:topic.id}) }}">{{ topic.topicTitle }}</a>
        <p>{{ topic.createdAt.format('M d, Y') }}</p>
    </div>
</div>