<style>

    .mini-card{
        position: relative;
        height: 150px;
        margin-bottom: 10px;
        overflow: hidden;
    }
    .mini-card-img{
        height: 100%;
        width: 100%;
    }
    .mini-card-info{
        position: absolute;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 3;
        opacity: 0;
        background-color: rgba(0, 108, 255,0.5);
        transition: opacity 0.5s;
    }
    .mini-card-info a{
        color: white;
    }
    .mini-card-info:hover{
        opacity:1;
    }
    .mini-card-play{
        font-size: xx-large;
        padding: 10px;
        border-radius: 40px;
        display: inline-block;
        position: relative;
        width: 50px;
        text-align: right;
        background-color: rgb(0, 108, 255);
    }
    .mini-card-play:hover
    {
        animation: play 500ms;
    }
    @keyframes play {
        from {
            transform: rotate(0deg);
        }
        to{
            transform: rotate(360deg);
        }
    }
</style>
<div class="mini-card" >

    <img src="{{ video.photo1}}" alt="" class="mini-card-img">
    <div class="mini-card-info">
        <div class="">
            <a href="{{ path("videoDetail",{slug:video.slug,id:video.id}) }}"> <i class="fa fa-play mini-card-play"></i></a>
        </div>
        <div>
            <div class="">
                <a href="#">{{ video.createdAt.format('M d, Y') }}</a>
            </div>
            <a href="#" class="">{{ video.name }} </a>
            <div class="">
                <a href="{{ path("videoDetail",{slug:video.slug,id:video.id}) }}"class="post-author-name">by Dr. Cristinne Smith</a> | <a href="#" class="post-catagory">Dental</a>
            </div>
        </div>


    </div>

</div>