<li class="single_comment_area" >
    <div class="comment-wrapper d-flex">
        <div class="comment-content">
            <div class="comment-meta">
                <a href="#" class="comment-author-name">{{ app.user.lastName }} {{ app.user.firstName }}</a> |
                <a href="#" class="comment-date"> {{ comment.createdAt| date("M d, Y") }}</a>
            </div>
            <p>{{ comment.comment }}</p>
        </div>
    </div>
</li>